.button{
    padding: 16px 30px;    
    font-weight: 600;
    font-size: $text;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
    border:0px;
    &-primary{
        background: $rose;
        color: $white;
        &:hover{
            background: $rose_hover;
            color: $white;
            text-decoration: none;
        }
    }
}

.slider-btn{
    width:48px;
    height: 48px;
    border-radius: 48px;
    border:none;
    background: $white;
    box-shadow: 0px 2px 12px rgba(0,0,0,.25);
   
    &-next{
        background-image: url(../img/icons/ic_chevron.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 20px 20px;
        background-position: center;
    }
    &-prev{
        background-image: url(../img/icons/ic_chevron_left.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 20px 20px;
        background-position: center;
    }
}

