
.box{
  width: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin-right: 20px;
  border-radius: 8px;
  display: flex;
  &-feedback{
    width: abs(100%/3)!important;
    margin-right: 20px;
    border-radius: 8px;
    display: flex;
  }
  &-body{
      padding: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      p{
          font-size: 20px;
          margin-bottom: 60px;
          line-height: 24px;
      }
  }
  &-light{
      background: $white;
      color: $dark;
  }
  &-red{
      background: $rose;
  }
}

.vue-star-rating-rating-text{
  display: none;
}