//fooer

.footer{
    background: $dark;
    color: $white;
    padding: 48px;
    &-logo{
        height: 80px;
    }
    &-mf-logo{
        width: 60px;
        height: 60px;
    }
}

.social-link{
    color: $rose;
    text-decoration: none;
    font-size: 24px;
    margin: 12px;
    &:hover{
        color: $rose_hover;
        text-decoration: none;
    }
}

.tel-wrapper{
    margin: 6px;
    a{
        color: $white;
        font-weight: 500;
        text-decoration: none;
        &:hover{
            color: $rose;
        }
    }
}

.copyright-meta{
    text-align: right;
    margin-right: 24px;
}

