.mf-form{
    &-group{
        margin: 12px;
        display: flex;
        align-items: center;
        
    }
    &-control{
        padding: 6px 12px;
        background: $white;
        color: $dark;
        border: 1px solid #ececec;
        border-radius: 30px;
        &:focus{
            outline: none;
        }
    }
    &-btn{
        width: 18px;
        height: 18px;
        background: $white;
        border: 0px;
        margin-left: -28px;
        &-search{
            background-image: url(../img/icons/ic_search.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.form{
    &-control{
    border: 2px solid #ff6a6a;
    padding: 20px;
    border-radius: 30px;
    &:focus{
        border-color: #ff6a6a;
        box-shadow: inset 0 1px 1px transparentize($rose, .75), 0 0 8px transparentize($rose, .25);
    }
    }
    &-label{
        line-height: 1;
        display: block;
        padding-bottom: 8px;
        font-weight: 600;
    }
}
