.masthead{
    width: 100%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    &-logo{
        width: 200px;
    }
    &-navbar{
        
        background-color: transparent;
        color: $white;
    display: flex;
flex-direction: row;
justify-content: flex-end;
padding: 12px;
    }
    &-meta{
        color: $white;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: $m_main;
        width: 50%;
        p{
            font-size: 21px;
            margin-top: 6px;
        }
    }
    &-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: inherit;
        .country{
            display:flex;
            flex-direction: row;
            align-items: flex-end;
            img{
                width: 32px;
                margin-right: abs($m_main / 4);
            }
        }
    }
    &-heading{
        color: $white;
        font-size: $heading;
        text-transform: uppercase;
        margin: $m_main;
        font-weight: 700;
    }
    &-describe{
        color: $white;
        font-size: abs($heading / 2);
        text-align: center;
    }
}

.star-rating{
    display: flex;
    flex-direction: row;
    .filled{
        background: url(../img/icons/ic_star_filled.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        margin: 2.5px;
        
    }
    .void{
        background: url(../img/icons/ic_star.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        margin: 2.5px;
    }
}

.dropdown {
    position: relative;
    background-color: rgba(0,0,0,.4);
    border-radius: 8px;
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    border-radius: 8px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    ul{
        a{
            &:hover{
                text-decoration: none;
            }
        }
        li{
            .current-lang{
                padding: 12px;
            }
            &:hover{
                background: rgba(0,0,0,.6);
                &:first-child{
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;
                }
                &:last-child{
                    border-bottom-right-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
            }
        }
    }
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: rgba(0,0,0,.5);
  }

  .current-lang{
      display: flex;
      flex-direction: row;
      padding: 12px;
      img{
          width:30px;
          height: auto;
          margin-right: 12px;
      }
      p{
          font-weight: 500;
          color: $white;
      }
  }