/* Helpers system (h) 
/* |-m - margins. m-t: margin-top, m-b: margin-botto,
/* |-f - flexes, f-ai - vertical alignment, f-jc - horizontal alignment
/* |
*/



.h{
    &-m{
        &-b{
            margin-bottom: 32px;
        }
        &-t{
            margin-top: 4%;
        }
    }
    &-f{
        display:flex;
        &-ai{
            &-ct{
                align-items: center;
            }
        }
        &-d{
            &-row{
                flex-direction: row;
            }
            &-col{
                flex-direction: column;
            }
        }
        &-jc{
            &-sb{
                justify-content: space-between;
            }
            &-ct{
                justify-content: center;
            }
        }
    }
}


hr{
    width: 70%;
    background: $rose;
    height: 2px;
}

.block{
    &-row{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}


.gallery{
    &-item{
        margin: 20px;
        width: 100%/4;
        height: fit-content;
    }
}

