.section{
    background: $light;
    padding: $p_main;
    &-with-bg{
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: $p_main;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        text-align: center;
        color: $white;
        text-transform: uppercase;
        margin:$m_main;
    }
    }
    .mf-row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        text-align: center;
        text-transform: uppercase;
        margin:$m_main;
    }
    p{
        font-size: $text;
        text-align: center;
        width: 50%;
        line-height: 24px;
        margin-bottom: $m_main;
    }
}

h1{
    font-size: $title;
    font-weight: 700;
}

h4{
    font-weight: 700;
}

.block{
    &-form{
        display: flex;
        flex-direction: row;
    }
}

.swiper-block{
    width: 70%;
    margin: 0 auto;
    border-radius: 12px;
}