.modal-body{
    padding:24px;
    h4{
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 24px;
    }
}

.modal-override{
    padding: 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

@media screen and(max-width:750px){
    .modal-override{
        width: 100%;
        margin: 0px auto;
    }
}