
//RESPONSIVE

@media screen and (max-width: 600px){
    html,body{
        overflow-x:hidden;
    }
    .box{
        width: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        margin-right: 20px;
        border-radius: 8px;
        display: flex;
        &-feedback{
          width: 250px!important;
          border-radius: 8px;
          display: flex;
        }
    }
    .card{
        width: 50%!important;
    }
    .swiper-block{
        width: 100%;
        margin: 0 auto;
        border-radius: 12px;
    }
    .footer{
        .block-row{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        &-row{
            display: flex;
            flex-direction: column;
            justify-items: center;        
       }
       &-item{
           display: flex;
           flex-direction: column;
           justify-content: center;
           margin: 12px 0px;
           text-align: center;
       }
    }
    .slider-btn{
        display: none;
    }
    .masthead{
        height: 100%;
        padding: 60px 0px;
        &-wrapper{
            padding: 0px 20px;
            h1{
                text-align: center;
            }
        }
        &-meta{
            display: flex;
            flex-direction: column;
            flex-flow: wrap;
            p{
                font-size: 20px;
            }
            &-item{
                margin: 20px 0px;
            }
        }
    }

    .section{

        p{
            width: 100%;
        }
    }
}

