
.sort{
    &-section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    &-item{
        height: 90px;
        background: $white;
        display: flex;
        justify-content: start;
        margin-top: 0px!important;

        margin: 12px;
        border-radius: 12px;
        img{
            width: 90px;
            height: 90px;
            border-radius: 12px;
        }
        h4{
            color: $dark;
            font-size: $text;
            display: flex;
            align-items: center;
            padding: 12px;
            word-break: break-all;
        }
    }
}

