$black: #000;
$white: #fff;
$rose: #EF596A;
$rose_hover: #E4485A;
$dark: #282828;
$light: #ececec;

//size
$heading: 36px;
$title: 21px;
$text: 18px;


//paddings
$p_main: abs(72px/2);
$m_main: 30px;
