<template>
<div>
     <Masthead :items="items" />
     <Description :items="items" />
    <GalleryTest :items="items" />
    <Feedbacks :items="items" />
    <Products :items="items" />
    <Footer :items="items" />
</div>
</template>

<script>
/*eslint-disable*/
import axios from "axios";
import Masthead from "../components/Global/Masthead";
import Footer from "../components/Global/Footer";
import Description from "../components/Page/Description";
import GalleryTest from "../components/Page/GalleryTest";
import Feedbacks from "../components/Page/Feedbacks";
import Products from "../components/Page/Products";

const baseURL = "https://zaktour.gov.ua/data.json"
export default {
  components: {
    Masthead,
    Footer,
    Description,
    GalleryTest,
    Products,
    Feedbacks,
  },
  data(){
    return{
      items: null
    }
  },
  mounted(){
    return axios.get(baseURL)
                .then((response) => {
                  this.items = response.data.items;
                  console.log(response.data.items[0]);
                })
  }
} 
</script>

<style>

</style>