<template>
  <div>
    <section class="section" v-for="item in items" :key="item.id">
  <div class="container">
    <div class="row mf-row">
     <h1>Описание</h1>
    <p>{{item.info}}</p>
    <a href="#" class="button button-primary">CTA-button</a>
    </div>
  </div>
  </section>
  </div>
</template>

<script>
/*eslint-disable*/

export default {
 props: ["items"],
    data(){
        return {
        }
    }
}
</script>

<style>

</style>>