<template>
  <div>
    <div v-for="item in items" :key="item.id" class="container-fluid section-with-bg"  :style="{backgroundImage: 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + item.image + ')' }">
      <div class="row mf-row">
        <div class="col-lg-12 col-sm-12">
          <h1>Отзывы</h1>
          <div class="h-f h-f-ai-ct h-f-d-row">
           <button class="slider-btn slider-btn-prev" id="fb-prev" slot="button-prev"></button>
            <swiper :options="swiperOption" class="swiper swiper-block">
              <swiper-slide v-for="fb in item.feedbacks" :key="fb.id" class="box-feedback box-light">
              <div class="box-body">
                            <p>{{fb.text}}</p>
              <p>{{fb.author}}</p>
              </div>
              </swiper-slide>
            </swiper>

            <button class="slider-btn slider-btn-next" id="fb-next" slot="button-next"></button>
          </div>
                              <div class="h-m-t h-f h-f-jc-ct">
            <a class="button button-primary" @click="show()">Оставить Отзыв</a>
            </div>
        </div>
        <modal name="sendFeedback" :adaptive="true" :height="'auto'" :classes="['mf-modal','modal-override']" >
            <div>
              <div class="col-lg-12 col-sm-12 modal-body">
                <div class="col-lg-12 col-sm-12">
                  <h4>Оставить отзыв</h4>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                  <label class="form-label" for="feedback_author">Ваше Имя</label>
                    <input type="text" name="" id="feedback_author"  placeholder="Name"  class="form-control" required>
                  </div>
                  <div class="form-group">
                  <label class="form-label" for="feedback_email">Ваш E-mail</label>
                    <input type="text" name="" id="feedback_email" placeholder="E-mail" class="form-control" required>
                  </div>
                  <div class="form-group">
                  <label class="form-label" for="feedback_phone">Номер телефона</label>
                    <input type="text" name="" id="feedback_phone" placeholder="Phone" class="form-control" required>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                  <label class="form-label" for="feedback_text">Ваш отзыв</label>
                  <textarea name="" id="feedback_text" cols="30" rows="10" class="form-control"></textarea></div>
                </div>
                           <div class="col-lg-12 col-sm-12">
                <input type="submit" class="button button-primary" value="Send" />
                </div>
            </div>
          </div>
        </modal>
      </div>
    </div>
  </div>
</template>

<script>
/*eslint-disable*/
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'

export default {
  props: ["items"],
  components: {
        Swiper,
      SwiperSlide,
 },
  data(){
        return {
          swiperOption: {
           slidesPerView: 2,
           speed: 800,
             breakpoints:{
               1024: {
                  slidesPerView: 1
               },
                320: {
                  slidesPerView: 1
                  },
                 480: {
                   slidesPerView: 2
                    }
                  },
              navigation: {
                nextEl: '#fb-next',
                prevEl: '#fb-prev'
          }
        }
      }
    },
    methods: {
  show () {
    this.$modal.show('sendFeedback');
  },
  hide () {
    this.$modal.hide('sendFeedback');
  }
}
}
</script>

<style>

</style>