<template>
  <div class="container-fluid section">
  <h1>Фотогалерея</h1>
    <div class="thumb-example" v-for="item in items" :key="item.id">
    <!-- swiper1 -->
    <swiper class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
      <swiper-slide  v-for="img in item.gallery" :key="img.id" :style="{backgroundImage: 'url(' + img.image + ')' }"></swiper-slide>
      <div class="swiper-button-next swiper-button-white" id="gal-next" slot="button-next"></div>
      <div class="swiper-button-prev swiper-button-white" id="gal-prev" slot="button-prev"></div>
    </swiper>
    <!-- swiper2 Thumbs -->
    <swiper class="swiper gallery-thumbs" :options="swiperOptionThumbs" ref="swiperThumbs">
      <swiper-slide  v-for="img in item.gallery" :key="img.id"  :style="{backgroundImage: 'url(' + img.image + ')' }"></swiper-slide>
    </swiper>
  </div>
  </div>
</template>

<script>
/*eslint-disable*/
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'

export default {
  props: ["items"],
  components: {
        Swiper,
      SwiperSlide,
 },
  data(){
        return {
          lightboxOpen: false,
                swiperOptionTop: {
          loop: true,
          loopedSlides: 5, // looped slides should be the same
          spaceBetween: 10,
          navigation: {
            nextEl: '#gal-next',
            prevEl: '#gal-prev'
          }
        },
        swiperOptionThumbs: {
          loop: true,
          loopedSlides: 5, // looped slides should be the same
          spaceBetween: 10,
          centeredSlides: true,
          slidesPerView: 'auto',
          touchRatio: 0.2,
          slideToClickedSlide: true
        }
        }
    },
    mounted() {
      this.$nextTick(() => {
        const swiperTop = this.$refs.swiperTop.$swiper
        const swiperThumbs = this.$refs.swiperThumbs.$swiper
        swiperTop.controller.control = swiperThumbs
        swiperThumbs.controller.control = swiperTop
      })
    }
}
</script>

<style lang="scss" scoped>
  .thumb-example {
    height: 800px;
    background-color: #282828;
  }

  .swiper {
    .swiper-slide {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.gallery-top {
      height: 80%;
      width: 100%;
    }
    &.gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 16px 0;
    }
    &.gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }
    &.gallery-thumbs .swiper-slide-active {
      opacity: 1;
    }
  }

  @media screen and (max-width:720px) {
        .thumb-example {
    height: 500px;
    background-color: #282828;
  }

  }
</style>