<template>
  <div>
    <div class="container-fluid section">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <h1>Сорта, которые мы выращиваем</h1>
          <div class="h-f h-f-jc-ct h-m-b">
                    <div class="mf-form-group">
          <input type="text" name="" class="mf-form-control" id="" placeholder="Search">
            <input type="button" value="" class="mf-form-btn mf-form-btn-search">
          </div>
          </div>
          <div class="h-f h-f-ai-ct h-f-d-row">
          <button class="fb-prev slider-btn slider-btn-prev " slot="button-prev"></button>
          <swiper class="swiper swiper-block" id="sorts-swiper" :options="swiperOption" v-for="item in items" :key="item.id">
             <swiper-slide v-for="flower in item.sorts" :key="flower.id" class="sort-item">
    <img :src="flower.image" alt="">
    <h4>{{flower.sort}}</h4>
    </swiper-slide>
  </swiper>
          <button class="fb-next slider-btn slider-btn-next " slot="button-next"></button>
          </div>
  <div class="h-m-t h-f h-f-jc-ct">
            <a href="#" class="button button-primary">Купить</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/*eslint-disable*/
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'

export default {
  props: ["items"],
  components: {
        Swiper,
      SwiperSlide
 },
  data(){
        return {
        swiperOption: {
        slidesPerView: 4,
        slidesPerColumn: 3,
              setWrapperSize: true,
        spaceBetween: 30,
        slidesPerColumnFill: 'row',
        loop: false,
         navigation: {
            nextEl: '.fb-next',
            prevEl: '.fb-prev'
          },
          breakpoints: {
            1024:{
              slidesPerView: 3,
              slidesPerColumn: 3,
              setWrapperSize: true,
        slidesPerGroup: 2,
            },
                        768:{
              slidesPerView: 2,
              slidesPerColumn: 2
            },
            320: {
              slidesPerView: 1,
              slidesPerColumn: 4
            }
          }
        }
        }
    }
}
</script>

<style lang="scss" scoped>
.swiper-container-multirow-column > .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
}

#sorts-swiper .swiper-wrapper{
  width: 3030px!important;
}

</style>