<template>
  <div>
  <footer class="footer" v-for="item in items" :key="item.id">
  <div class="container">
    <div class="row h-f h-f-jc-sb footer-row">
    <div class="col-lg-3 col-sm-12 footer-item">
      <img class="footer-logo" :src="item.logo" alt="" srcset="">
    </div>
    <div class="col-lg-3 col-sm-12 footer-item">
      <h4>Контакты</h4>
      <div v-for="contact in item.contacts" :key="contact.id">
        <div class="tel-wrapper" v-for="tel in contact.tel" :key="tel.id">
          <a :href="'tel://' + tel.phone">{{tel.phone}}</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12 footer-item">
    <h4>Мы в соц.сетях</h4>
    <div class="block-row">
    <a class="social-link" href="#"><p class="socicon-vkontakte"></p></a>
    <a class="social-link" href="#"><p class="socicon-instagram"></p></a>
    <a class="social-link" href="#"><p class="socicon-facebook"></p></a>
    </div>
    </div>
        <div class="col-lg-3 col-sm-12 block-row footer-item">
        <p class="copyright-meta">LLC "Modesto Flowers"(С)
2018-2020</p>
      <img src="../../assets/img/mflogo.png" class="footer-mf-logo">
    </div>
    </div>
  </div>
</footer>
</div>
</template>

<script>
/*eslint-disable*/
export default {
     props: ["items"],
    data(){
        return {
        }
    }
}
</script>

<style>

</style>>