<template>
  <div>
   <div v-for="item in items" :key="item.id" class="masthead" :style="{backgroundImage: 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + item.image + ')' }">
        <div class="masthead-navbar">
          <div class="dropdown">
            <div class="current-lang" v-for="lang in item.languages.slice(0,1)" :key="lang.id">
              <img :src="lang.flag" alt="">
              <p>{{lang.lang_short}}</p>
            </div>
              <div class="dropdown-content">
                <ul>
                <a :href="lang.link" v-for="lang in item.languages.slice(1,3)" :key="lang.id">
                <li class="current-lang" >
                    <img :src="lang.flag" alt="">
                    <p>{{lang.lang_full}}</p>
                  </li>
                </a>
                </ul>
              </div>
           </div>
        </div>
        <div class="masthead-wrapper">
        <img :src="item.logo" class="masthead-logo" alt="">
        <h1 class="masthead-heading">{{item.title}}</h1>
        <p class="masthead-describe">{{item.excerpt}}</p>

        <div class="masthead-meta col-xs-10">
          <div class="col-md-3 masthead-meta-item">
          <div class="country">
            <img :src="item.flag" alt="">
                       <p>
           {{item.country}}
           </p>
          </div>
          </div>
          <div class="col-md-3 masthead-meta-item">
          <b>Рейтинг:</b>
           <div class="star-rating">
           <star-rating :rating="item.rating" :star-size="20" :read-only="true" ></star-rating>
          </div>
          </div>
          <div class="col-md-3 meta-item">
            <b>Статус:</b>
           <p>
           {{item.status}}
           </p>
          </div>
          <div class="col-md-3 masthead-meta-item">
            <b>Время работы:</b>
                      <p>
           {{item.worktime}}
           </p>
          </div>
        </div>
        </div>
      </div>
  </div>
</template>

<script>
/*eslint-disable*/
import StarRating from 'vue-star-rating'

export default {
    props: ["items"],
    components: {
  StarRating
},
    data(){
        return {
        }
    }
}
</script>

<style>

</style>